<header class="p-3 bg-dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="mx-auto">
      <span style="color:greenyellow">(C) Lord Hendrik 'Enzym Rubisco' Ruben Gauda</span>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!-- Buttons from the left here -->
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <br>
</div>
<router-outlet></router-outlet>
<ngbx-toast-list></ngbx-toast-list>
