<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="container">
    <div class="row d-flex justify-content-center my-2">
      <div class="col-4 d-flex justify-content-center">
        <div class="form-floating mb-3"
             style="position: fixed; top: 21%; left: 50%; margin-top: -50px; margin-left: -175px;">
          <input class="form-control input-sm" id="subjectNumberInput" type="text" placeholder="Subject number"
                 formControlName="subjectNumber" style="width: 350px; height: 60px;">
          <label for="subjectNumberInput">Subject number</label>
          <br>
          <button style="position: fixed; top: 30%; left: 50%; margin-top: -50px; margin-left: -40px;" id="submitButton"
                  type="submit" [disabled]="!formGroup.valid"
                  class="btn btn-outline-success">Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<router-outlet></router-outlet>
